<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ static_prefix }}/style.css">
    <script src="{{ static_prefix }}/site.js" defer></script>
</head>
<body>
<nav class="top">
    <span class="breadcrumbs">
    {% for crumb in breadcrumbs %}
        {% if loop.index > 1 %} &gt; {% endif %}
        {% if crumb.link %}
        <a href="{{ crumb.link }}">{{ _(crumb.title) }}</a>
        {% else %}
        <span>{{ _(crumb.title) }}</span>
        {% endif %}
    {% endfor %}
    </span>
    <div class="lang-switch">
        {% for l in langs %}
            {% if l == current_lang %}
            <span class="current-lang">{{ l }}</span>
            {% else %}
            <a data-set-lang="{{ l }}" href="{{ page_basename }}_{{ l }}.html">{{ l }}</a>
            {% endif %}
        {% endfor %}
    </div>
</nav>
{% block body %}{% endblock %}
</body>
</html>
