<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="static/style.css">
    <script src="static/site.js" defer></script>
</head>
<body>
<nav class="top">
    <a href="{{ home_link }}">Home</a>
    <div class="lang-switch">
    {% for l in langs %}
        {% if l == current_lang %}
        <span class="current-lang">{{ l }}</span>
        {% else %}
        <a data-set-lang="{{ l }}" href="{{ page_basename }}_{{ l }}.html">{{ l }}</a>
        {% endif %}
    {% endfor %}
    </div>
</nav>
{% block body %}{% endblock %}
</body>
</html>
