{% extends 'base.html' %}
{% block body %}
<h1>{{ lot['title_' + current_lang] }}</h1>
<div class="carousel">
{% for img in images %}
  <figure>
    <img src="../media/{{ img.path }}" alt="" />
    <figcaption>{{ img.caption }}</figcaption>
  </figure>
{% endfor %}
</div>
<table class="attrs">
{% for key, val in attrs.items() %}
  <tr><th>{{ key }}</th><td>{{ val }}</td></tr>
{% endfor %}
</table>
<p><a href="{{ tg_link }}" target="_blank">Telegram post</a></p>
<div class="similar">
{% for item in similar %}
  <a href="{{ item.link }}"><img src="../media/{{ item.thumb }}" alt="" /><br>{{ item.title }}</a>
{% endfor %}
</div>
{% endblock %}
