{% extends 'base.html' %}
{% block body %}
<h1>{{ lot['title_' + current_lang] }}</h1>
<div class="carousel main">
{% for img in images %}
  <figure>
    <img src="{{ media_prefix }}/{{ img.path }}" alt="" />
    <figcaption>{{ img.caption }}</figcaption>
  </figure>
{% endfor %}
</div>

<p class="description">{{ description }}</p>
{% if orig_text %}
<details class="orig-text" open><summary>{{ _('Original post') }}</summary>
<pre>{{ orig_text }}</pre>
</details>
{% endif %}

<table class="attrs">
{% for key, val in attrs.items() %}
  <tr><th>{{ key }}</th><td>{{ val }}</td></tr>
{% endfor %}
</table>
<p><a href="{{ tg_link }}" target="_blank">{{ _('Telegram post') }}</a></p>
<div class="vote">
  <button id="like-btn">{{ _('Like') }}</button>
  <button id="dislike-btn">{{ _('Dislike') }}</button>
</div>
<script>
  window.currentLot = {
    id: {{ lot['_id']|tojson }},
    embed: {{ embed|default("null")|safe }}
  };
</script>
<h2>{{ _('Similar items') }}</h2>
<div class="similar carousel">
{% for item in similar %}
  <a href="{{ item.link }}"><img src="{{ media_prefix }}/{{ item.thumb }}" alt="" /><br>{{ item.title }}</a>
{% endfor %}
</div>
{% if more_user %}
<h2>{{ _('More by this user') }}</h2>
<div class="more-user similar carousel">
{% for item in more_user %}
  <a href="{{ item.link }}"><img src="{{ media_prefix }}/{{ item.thumb }}" alt="" /><br>{{ item.title }}</a>
{% endfor %}
</div>
{% endif %}
{% endblock %}
